<div id="<%= dom_id movimentacao %>" class="p-6 rounded-lg shadow-lg bg-white flex <%= movimentacao.saida? ? 'text-red-700' : 'text-green-700' %>">
  <span class="mr-2">
    <%= l movimentacao.data, default: nil %>
  </span> 
  <span class="mr-2 flex-grow">
    <%= movimentacao.descricao %>
  </span>
  <span class="mr-2">
    <%= number_to_currency movimentacao.valor %>
  </span>
  <span>

  </span>
</div>
